img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: rgb(255, 202, 233);
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-areas: 
    "name name name bio bio bio . . . . . . . . . ."
"titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1"
". image-6 image-6 image-6 . . . . . . . text4 text4 text4 text4 text4"
". . . . . . image-7 image-7 image-7 . text5 text5 text5 text5 . ."
". . image-8 image-8 image-8 . . . . . . . text6 text6 text6 text6"
"titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2"
". text1 text1 text1 text1 text1 . image-9 image-9 image-9 . . . . . ."
". . . . . text2 . . text11 . . . . image-10 image-10 image-10"
". . . . . text10 . . . image-11 image-11 image-11 . . . ."
"titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3"
"text3 text3 text3 image-3 image-3  image-3  text7  . . . . . . . . ."
". image-4 image-4 image-4 . . text8  . . . . . . . . ."
". . . . . image-5 image-5 image-5 . text9  . . . . . ."; 
    /* image raster */
       
}

.name {
    grid-area: name;   
}

.name h1 {
    color: aquamarine;
    font-style: italic;
    font-size: 200px;
    margin: 0;
}

.name h1:hover {
    color: rgb(85, 255, 0);
    font-style: normal;
}

.bio {
    grid-area: bio;
    margin-bottom: 100px;
}

.bio p {
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 1,5;
    text-align: center;
    font-size: 43;
    margin: 0;
}

.image-6 {
    grid-area: image-6;    
}
/* hover grösser */
.image-6 img {
    transition: transform 0.5s ease;
}

.image-6 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-7 {
    grid-area: image-7;
}
/* hover grösser */
.image-7 img {
    transition: transform 0.5s ease;
}

.image-7 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-8 {
    grid-area: image-8;
}
/* hover grösser */
.image-8 img {
    transition: transform 0.5s ease;
}

.image-8 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-9 {
    grid-area: image-9;
    
}
/* hover grösser */
.image-9 img {
    transition: transform 0.5s ease;
}

.image-9 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-10 {
    grid-area: image-10;
}
/* hover grösser */
.image-10 img {
    transition: transform 0.5s ease;
}

.image-10 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-11 {
    grid-area: image-11;  
}
/* hover grösser */
.image-11 img {
    transition: transform 0.5s ease;
}

.image-11 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-3 {
    grid-area: image-3;
}
/* hover grösser */
.image-3 img {
    transition: transform 0.5s ease;
}

.image-3 img:hover {
    transform: scale(2.0);
}
/* hover grösser ende */
.image-4 {
    grid-area: image-4;    
}
/* hover grösser */
.image-4 img {
    transition: transform 0.5s ease;
}

.image-4 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-5 {
    grid-area: image-5;
}
/* hover grösser */
.image-5 img {
    transition: transform 0.5s ease;
}

.image-5 img:hover {
    transform: scale(1.5);
}

.paris-projekt {
    grid-area: paris
}

/* text layout 2 */


.layout2-1 {
    grid-area: text1;
    margin-top: 120px;
    font-size: 18px;
    
}

.layout2-2 {
    grid-area: text2;
    margin-top: 100px;   
     font-size: 18px;
}

.layout2-3 {
    grid-area: text3;
    margin-top: -160px;
     font-size: 18px;
       
}
/* ende vom layout 2 */

.parisprojekt-1 {
    grid-area: text4;
}

.parisprojekt-2 {
    grid-area: text5;
    margin-top: -100px;
}

.parisprojekt-3 {
    grid-area: text6;
    margin-top: -200px;
}

.parisprojekt-4 {
    grid-area: text10;
    margin-top: -200px;
}

.parisprojekt-5 {
    grid-area: text11;
    margin-top: -200px;
}

.titel1 {
    grid-area: titel1;
}

.titel2 {
    grid-column: 1 / -1;
    grid-area: titel2;
    align-self: center;
    justify-self: center;
    border-top: solid;
    border-top: 2px solid;
    border-top-color:rgb(85, 255, 0);
    width: 100%;
    text-align: center;
}

.titel3 {
    grid-area: titel3;
}

.typo-1 {
    grid-area: text7 ;
}

.typo-2 {
    grid-area: text8 ;
}

.typo-3 {
    grid-area: text9 ;
}