@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
    background-color: gainsboro;
    font-family: "Avara-Bold", serif;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 5fr 1fr 2fr 3fr 1fr 1fr;
    grid-template-areas:
    "name name name name bio bio"
    "text-1 image-1 image-1 image-1 image-1 image-1"
    "image-2 image-2 image-2 text-2 . .";
    
}

.name {
    grid-area: name;
}

.name h1 {
    color: aquamarine;
    font-style: italic;
    font-size: 8rem;
    margin: 0;
}

.name h1:hover {
    color: blue;
    font-style: normal;
}

.bio {
    grid-area: bio;
}

.bio p {
    color: blueviolet;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 1,5;
    text-align: initial;
    font-size: 43;
    margin: 0;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}


