img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: rgb(255, 202, 233);
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px 15px 15px 15px 15px;
    gap: 15px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "name name name bio bio bio . . "
    ". . . .image-6 image-6 image-6 ."
    ". .image-7 image-7 image-7 . . ."
    ". . . . . image-8 image-8 image-8"
    ". image-9 image-9 image-9 . . . ."
    ". . . . image-10 image-10 image-10 ."
    ". . image-11 image-11 image-11 . . ."
    ". . . . . image-3 image-3 image-3"
    ". . image-4 image-4 image-4 . . ."
    ". . . . image-5 image-5 image-5 .";
    
}
/* hover für image */

.image-6:hover {
    max-width: 70%;
}

.image-7:hover {
    max-width: 70%;
}

.image-8:hover {
    max-width: 70%;
}

.image-9:hover {
    max-width: 70%;
}

.image-10:hover {
    max-width: 70%;
}

.image-11:hover {
    max-width: 70%;
}

.image-3:hover {
    max-width: 70%;
}

.image-4:hover {
    max-width: 70%;
}

.image-5:hover {
    max-width: 70%;
}



.name {
    grid-area: name;   
}

.name h1 {
    color: aquamarine;
    font-style: italic;
    font-size: 200px;
    margin: 0;
}

.name h1:hover {
    color: rgb(85, 255, 0);
    font-style: normal;
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 1,5;
    text-align: center;
    font-size: 43;
    margin: 0;
}

.image-6 {
    grid-area: image-6;
    max-width: 40%;
}

.image-7 {
    grid-area: image-7;
    max-width: 40%;
}

.image-8 {
    grid-area: image-8;
    max-width: 40%;
}

.image-9 {
    grid-area: image-9;
    max-width: 40%;
}

.image-10 {
    grid-area: image-10;
    max-width: 40%;
}

.image-11 {
    grid-area: image-11;
    max-width: 40%;
}

.image-3 {
    grid-area: image-3;
    max-width: 40%;
}

.image-4 {
    grid-area: image-4;
    max-width: 40%;
}

.image-5 {
    grid-area: image-5;
    max-width: 40%;
}

.text-1 {
    grid-area: text-6;
    
}

.text-2 {
    grid-area: text-2;
    
}


