@font-face {
    font-family: "WorkSans-BlackItalic";
    src: url("fonts/WorkSans-BlackItalic.woff2") format("woff2");
}

@font-face {
    font-family: "WorkSans-Italic";
    src: url("fonts/WorkSans-Italic.woff2") format("woff2");
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-row-gap: 70px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-areas: 
"name name name . . . . . . . . . . . . ."
"bio bio bio bio bio bio bio bio bio bio bio bio bio bio . ."
"titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1 titel1"
". . . . . . image-6 image-6 image-6 image-6 . . . . . ."
". image-7 image-7 image-7 image-7 . . . . . text4 text4 text4 text4 text4 number1"
". . . . . . image-8 image-8 image-8 image-8  . . . . . ."
"titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2 titel2"
". . . . . . image-9 image-9 image-9 image-9 . . . . . ."
"number2 text1 text1 text1 text1 text1 . . . . .  image-10 image-10 image-10 image-10 ."
". . . . . . image-11 image-11 image-11 image-11 . . . . . ."
"titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3 titel3"
". . . . . . image-3 image-3 image-3 image-3 . . . . . ."
". image-4 image-4 image-4 image-4 . . . . . text7 text7 text7 text7 text7 number3"
". . . . . . image-5 image-5 image-5 image-5 . . . . . . "; 
    /* image raster */
       
}

.name {
    grid-area: name;   
}

.name h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 0;
    
}

.a:link {
    color: rgb(255, 0, 0);
}


.name h1:hover {
    color: rgb(255, 0, 0);
    font-style: normal;
}


.bio {
    grid-area: bio;
    margin-bottom: 100px;
    font-size: 80px;
    font-family: WorkSans-Italic;
    line-height: 105px;
     text-align: justify;

}



.image-6 {
    grid-area: image-6;   
    margin-bottom: 90px;  
}
/* hover grösser */
.image-6 img {
    transition: transform 0.5s ease;
}

.image-6 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-7 {
    grid-area: image-7;
}
/* hover grösser */
.image-7 img {
    transition: transform 0.5s ease;
}

.image-7 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-8 {
    grid-area: image-8;
}
/* hover grösser */
.image-8 img {
    transition: transform 0.5s ease;
}

.image-8 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-9 {
    grid-area: image-9;
    
}
/* hover grösser */
.image-9 img {
    transition: transform 0.5s ease;
}

.image-9 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-10 {
    grid-area: image-10;
}
/* hover grösser */
.image-10 img {
    transition: transform 0.5s ease;
}

.image-10 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-11 {
    grid-area: image-11;  
}
/* hover grösser */
.image-11 img {
    transition: transform 0.5s ease;
}

.image-11 img:hover {
    transform: scale(2.5);
}
/* hover grösser ende */
.image-3 {
    grid-area: image-3;
}
/* hover grösser */
.image-3 img {
    transition: transform 0.5s ease;
}

.image-3 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-4 {
    grid-area: image-4;    
}
/* hover grösser */
.image-4 img {
    transition: transform 0.5s ease;
}

.image-4 img:hover {
    transform: scale(1.5);
}
/* hover grösser ende */
.image-5 {
    grid-area: image-5;
}
/* hover grösser */
.image-5 img {
    transition: transform 2.0s ease;
}

.image-5 img:hover {
    transform: scale(1.5);
}

.paris-projekt {
    grid-area: paris
}

/* text layout 2 */


.layout2-1 {
    grid-area: text1;
    margin-top: 0px;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: rotate(-90deg);
    color: rgb(255, 0, 0);
    margin-top: 50px;
         
}

.layout2-1:hover {
    transform: rotate(0deg);
}

.layout2-1 img {
    transition: transform .5s ease;
}

.number2 {
    grid-area: number2;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 30px;
    color: rgb(255, 0, 0);
    font-family: WorkSans-Italic;

}


/* .layout2-2 {
    grid-area: text2;
    margin-top: -10px;   
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.layout2-3 {
    grid-area: text3;
    margin-top: -100px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
   
    
/* ende vom layout 2 */

.parisprojekt-1 {
    grid-area: text4;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: rotate(90deg);
    color: rgb(255, 0, 0);
    margin-top: -30px;
}

.parisprojekt-1:hover {
    transform: rotate(0deg);
}

.number1 {
    grid-area: number1;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30px;
    color: rgb(255, 0, 0);
    font-family: WorkSans-Italic;

}

/* .parisprojekt-2 {
    grid-area: text5;
    margin-top: -100px;
}

.parisprojekt-3 {
    grid-area: text6;
    margin-top: -200px;
} */

.typo-1 {
    grid-area: text7;
     margin-top: 0px;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: rotate(90deg);
    color: rgb(255, 0, 0);
    margin-top: 50px;
}

.number3 {
    grid-area: number3;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 30px;
    color: rgb(255, 0, 0);
    font-family: WorkSans-Italic;

}

.typo-1:hover {
    transform: rotate(0deg);
}

/* .typo-2 {
    grid-area: text8;
}

.typo-3 {
    grid-area: text9;
} */


.titel1 {
    grid-column: 1 / -1;
    grid-area: titel1;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-family: WorkSans-Medium;
    /* border-top: solid;
    border-top: 2px solid;
    border-top-color:rgb(2, 7, 65);
    width: 100%;
    text-align: center; */
   
    
}

.titel2 {
    grid-area: titel2;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

.titel2 {
    grid-column: 1 / -1;
    grid-area: titel2;
    align-self: center;
    justify-self: center;
    font-family: WorkSans-Medium;

}

.titel3 {
    grid-area: titel3;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titel3 {
    grid-column: 1 / -1;
    grid-area: titel3;
    align-self: center;
    justify-self: center;
    /* border-top: solid;
    border-top: 2px solid;
    border-top-color:rgb(0, 0, 0);
    width: 100%;
    text-align: center; */
    font-family: WorkSans-Medium;
}

.titel4 {
    grid-area: titel4;
}

.text5 {
    grid-area: text5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}



